<!-- select -->
<div class="form-group form-inline">
  <!-- select level -->
  <select class="form-control" ng-model="v.level" ng-change="v.level = (v.level == 'cct' ? {cw:0,sw:0} : v.level)">
    <!-- <option value="">---</option> -->
    <option value="{{o}}" ng-repeat="o in hazardProtection.cfg.switchCCT.level track by $index" ng-selected="o == v.level">
    {{o}}</option>
    <option value="cct" ng-selected="_.isObject(v.level)">{{_t('colors')}}</option>
  </select>
  
  <!-- level cct -->
  <span class="form-inline" ng-hide="v.level.indexOf(v.level) > -1">
    <!-- cw -->
    <label>
      {{_t('cw')}} <input type="number" class="form-control input-number" min="{{hazardProtection.cfg.switchCCT.min}}" max="{{hazardProtection.cfg.switchCCT.max}}"  ng-model="v.level.cw" />
    </label>
    <!-- sw -->
    <label>
      {{_t('sw')}} <input type="number" class="form-control input-number" min="{{hazardProtection.cfg.switchCCT.min}}" max="{{hazardProtection.cfg.switchCCT.max}}"  ng-model="v.level.sw" />
    </label>
    <bb-help-text trans="_t('help_cct_value')"></bb-help-text>
  </div>
</div>
<!-- command -->
<div class="form-group" ng-if="!hideAction">
  <input type="checkbox" name="send_command" id="send_command" ng-model="v.sendAction" ng-checked="v.sendAction" />
  <label for="send_command">{{_t('dont_send_on_command')}}</label>
</div>